/* !CSS */
/* commence primary ignition */

* {
    box-sizing: border-box;
  }

/* end primary ignition */

/* start header */

  /* start nav */

  .nav-width {
  width: 66.6666%;
  margin: auto;
  } 

  /* end nav */

/* end header */

/* start footer */

.sig {
  width: 10%;
  margin: auto;
  padding: 1rem 0rem;
}

/* end footer */